.exit {
  float: right;
  display: inline-block;
  font-size: 30px;
  padding-right: 9px;
}

.stopHeading {
  font-size: 2rem;
  padding-left: 15px;
}

.busName {
  width: 80%;
  padding-left: 20px;
}

.ArrivalTime {
  font-size: 30px;
}
