.StopPin {
  font-size: 30px;
}

.stopName {
  font-size: 12px;
  border-radius: 3px;
  border-style: solid;
  /* width: 60px; */
  border-width: 1px;
  padding: 1px;
  display: inline-block
}

.stopName:hover {
  font-size: 10px;

}
