
.spacing {
  height: 40px;
}

.mapContainer {
   height: '50vh';
   width: '100%';
   /* margin-top: 30px; */
}
.buttonOverlay {
  /* position: absolute; */
  z-index: 1000000;
  font-size: 25px;
  margin:20px;
  margin-top: 5px;
  color: #007AFF;
}
.left {
  float: left;
}
.right {
  float: right;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
